.LoadScreen {
  background-color: #db1818;
  background-size: 100% 100%;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.loadingBlockContainer {
  display: flex;
  flex-direction: column;
  margin-top: 40vh;
}

.loadingBlockContainer .row {
  display: flex;
  flex-direction: row;
}

.loadingBlockContainer .block {
  background: white;
  height: 7.5vw;
  width: 7.5vw;
  margin: 2.5vw 2.5vw;
  opacity: 0.2;
  border-radius: 20%;
}

.loadingBlockContainer .block--active {
  opacity: 1;
  transition: 0.2s linear;
}

@media (min-height: 667px) {

}

@media (min-height: 812px) {

}